<launch>
  <!-- Gazebo Parameters -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
    
  <!-- Launch gazebo and set parameters-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- more default parameters can be changed here -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the Thor URDF model into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find thor_description)/urdf/thor_calibration.xacro'"  />

  <!-- Spawn a Thor in Gazebo, taking the description from the
    parameter server -->
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model thor -param robot_description"
    output="screen" />

  <!-- Load the Controllers into the parameter server -->
  <rosparam file="$(find thor_description)/config/thor_controllers.yaml" command="load"/>

  <!-- State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher"/>

  <!-- Spawn Controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="joint_state_controller arm_controller gripper_controller"/>

  


</launch>
