<?xml version="1.0"?>
<!-- Author: Emanuel Fallas Hernandez efallashdez@gmail.com -->
<!-- Published under GNU GPLv3 license -->

<!-- This xacro generates a standalone thor robot arm fixed to the world, with a load fixed to its gripper-->
<robot name="thor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="thor_"/>



  <!-- Load URDF XACRO -->
  <xacro:include filename="$(find thor_description)/urdf/thor_description.urdf.xacro"/>
  


  <!-- Generate URDF macro-->
  <xacro:macro name="generate_urdf" params="prefix">
    <xacro:thor_robot prefix="${prefix}"/>
    <!--xacro:thor_robot prefix="thor_"/-->
    <link name="world" />
    
    <joint name="base_to_world" type="fixed">
      <parent link="world"/>
      <child link="${prefix}base_link"/>
    </joint>

    <link name ='bar_link'>
      <inertial>
        <mass value="0.5"/>
        <inertia
          ixx="3.766666E-3"
          ixy="0"
          ixz="0"
          iyy="3.766666E-3"
          iyz="0"
          izz="3.333333E-5"/>
      </inertial>
      <collision name="collision">
        <geometry>
          <box size="0.02 0.02 0.3"/>
        </geometry>
      </collision>
      <visual name="visual">
        <geometry>
          <box size="0.02 0.02 0.3"/>
        </geometry>
      </visual>
    </link>

    <joint name="bar_to_gripper" type="fixed">
      <parent link="${prefix}gripper_link"/>
      <child link="bar_link"/>
    </joint>


    <link name ='mjolnir_link'>
      <visual name="visual">
        <geometry>
          <box size="0.12 0.05 0.05"/>
        </geometry>
      </visual>
    </link>

    <joint name="bar_to_mjolnir" type="fixed">
      <parent link="bar_link"/>
      <child link="mjolnir_link"/>
      <origin xyz="0 0 0.1725" />
    </joint>

    





  <!-- Gazebo -->
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>



  </xacro:macro>
  
  <!--Runs the macro that generates the URDF -->
  <xacro:generate_urdf prefix="$(arg prefix)"/>

</robot>
