<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />

  <arg name="ns" default=""/> 
  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find gripper_description)/urdf/single_gripper.xacro' prefix:=$(arg ns)"  />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find gripper_description)/urdf.rviz" />
</launch>
